*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(191, 202, 223);
    color: aliceblue;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Gill Sans', Calibri, sans-serif;
}

#header, #footer {
    display: flex;
    flex: 0 1 auto;
    background-color: rgb(26, 89, 131);
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
    gap: 48px;
    padding: 16px;
}

#footer {
    justify-content: center;
    align-items: center;
    padding: 12px;
    font-size: 16px;
}


#main-title {
    margin: 10px;
    font-size: 64px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 0px;
    min-height: 400px;
}

#container > .title {
    color: rgb(18, 63, 94);
}

#options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    padding: 16px;
}

#options button {
    margin: 0px;
    padding: 12px 24px;
    background-color: rgb(95, 158, 160);
    border: none;
    color: aliceblue;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 900;
}


#options .option .icon {
    font-size: 48px;
    margin: 16px;
}


#result-box {
    margin: 10px;
    min-width: 500px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#result-box #round-log {
    min-width: 300px;
    min-height: 120px;
    /* padding: 10px; */
    margin: 10px;
    font-size: 18px;
    color: rgb(18, 63, 94);
    font-weight: bold;
    text-align: center;
}

#scoreboard {
    padding: 16px;
    min-height: 130px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: rgb(189, 153, 54);
    color: aliceblue;
    border-radius: 16px;
}

#scoreboard .title {
    align-self: center;
    font-size: 22px;
    font-weight: 900;
}

#scoreboard #scores {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 18px;
    color: aliceblue;
}
